# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/

# Flask database
backend/*.db

# Uploads (keep folder only)
backend/uploads/*
!backend/uploads/.gitkeep

# Static build files (keep folder only)
backend/static/*
!backend/static/.gitkeep

# Environment
.env
*.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
lerna-lock.yaml

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/generated_previews/*
!backend/generated_previews/.gitkeep

backend/generated_reports/*
!backend/generated_reports/.gitkeep
uploads/*
!uploads/.gitkeep
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
