.map-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.map-grid img {
  width: 100%;
  height: 250px; /* adjust as needed */
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .map-grid {
    grid-template-columns: 1fr; /* mobile lo 1 column */
  }
}

.map-grid img {
  width: 100%;
  height: 200px; /* desktop */
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .map-grid img {
    height: 150px;
  }
}
h2 {
  font-size: 18px !important;
  font-weight: 800;
  color: #475569;
  margin-bottom: 12px;
}