.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 70px;
  margin-right: 10px;
}

.title {
  color: green;
  margin: 0;
}

.subtitle {
  color: green;
  margin: 0;
}