.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 900px;
  position: relative;
}

/* CLOSE */
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}

/* BUILDING GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-box {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 150px;
}

/* IMAGE */
.card-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DARK OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXT */
.overlay h3 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* 🔥 MONTH TIMELINE */
.timeline-months {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-top: 15px;
}

/* EACH MONTH */
.month-card {
  min-width: 220px;
}

/* IMAGE BOX */
.image-box {
  position: relative;
}

.image-box img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* 🔴 RED BOX */
/* .highlight-box {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 130px;
  height: 130px;
  border: 3px solid red;
} */

/* ALERT */
.alert-box {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: black;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

/* BACK BUTTON */
.back-btn {
  margin-top: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

.small-side-image {
  width: 220px;   /* 👈 same as month */
  height: 150px;  /* 👈 same as month */
  object-fit: cover;
  border-radius: 10px;
}

.building-top-section {
  margin-top: 10px;
}





/* 🔥 BUILDING CARD BACKGROUND */
.card-box {
  height: 150px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔥 IMAGES */
.b1 {
  background-image: url("../assets/modern-district-aerial-panorama-urban-style (1).jpg");
}

.b2 {
  background-image: url("../assets/image1.webp");
}

.b3 {
  background-image: url("../assets/image2.jfif");
}

.b4 {
  background-image: url("../assets/image3.jfif");
}

/* 🔥 DARK OVERLAY */
.card-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}

/* 🔥 TEXT */
.card-text {
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}